@{
    ViewData["Title"] = "FLHF Home";
}

<div class="text-start ms-md-5 ms-xs-2">
    <h2 class="text-dark">FAQs</h2>
    <p class="fw-bold"><i class="fas fa-arrow-right"></i> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, placeat.</p>
              <p class="ms-2 ms-md-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis aliquam beatae quis dolor nobis natus voluptatem, quia nulla dolores maiores expedita quidem, magni sed facilis iste, voluptates est et hic!</p>
              
              <p class="fw-bold"><i class="fas fa-arrow-right"></i> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, placeat.</p>
              <p class="ms-2 ms-md-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis aliquam beatae quis dolor nobis natus voluptatem, quia nulla dolores maiores expedita quidem, magni sed facilis iste, voluptates est et hic!</p>

              <p class="fw-bold"><i class="fas fa-arrow-right"></i> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, placeat.</p>
              <p class="ms-2 ms-md-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis aliquam beatae quis dolor nobis natus voluptatem, quia nulla dolores maiores expedita quidem, magni sed facilis iste, voluptates est et hic!</p>

              <p class="fw-bold"><i class="fas fa-arrow-right"></i> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, placeat.</p>
              <p class="ms-2 ms-md-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis aliquam beatae quis dolor nobis natus voluptatem, quia nulla dolores maiores expedita quidem, magni sed facilis iste, voluptates est et hic!</p>

              <p class="fw-bold"><i class="fas fa-arrow-right"></i> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, placeat.</p>
              <p class="ms-2 ms-md-4 mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis aliquam beatae quis dolor nobis natus voluptatem, quia nulla dolores maiores expedita quidem, magni sed facilis iste, voluptates est et hic!</p>
</div>