@{
    ViewData["Title"] = "FLH Home";
}

<div class="text-center">

    <div class="banner-container">
        <img src="~/Assets/banner.gif" alt="banner" id="banner-img">
        <div class="banner-content">
            <h2 class="text-white">FLH Forum</h2>
            <h5 class="text-white">Where the world connects...</h5>
            <a asp-area="" asp-controller="Forum" asp-action="Index" class="btn btn-outline-light mt-3 h3 px-3 py-2">Get Started<i class="fa fa-arrow-right ms-2"></i></a>
        </div>       
    </div>

    <div id="home">
        <h3 class="mb-4">Join the discussion</h3>
        <div class="row mt-3">
            <div class="col-md-4 text-center">
                <i class="fas fa-question h3"></i>
                <h5 class="text-primary fw-bold">Get answers to your questions</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex laudantium consequuntur ullam, qui mollitia eaque rerum assumenda porro similique ut. Nulla aut cupiditate sint nam dolor eum sapiente natus neque!</p>
            </div>
            <div class="col-md-4 text-center">
                <i class="fas fa-newspaper h3"></i>
                <h5 class="text-primary fw-bold">Stay up to date</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex laudantium consequuntur ullam, qui mollitia eaque rerum assumenda porro similique ut. Nulla aut cupiditate sint nam dolor eum sapiente natus neque!</p>
            </div>
            <div class="col-md-4 text-center">
                <i class="fas fa-brain h3"></i>
                <h5 class="text-primary fw-bold">Meet like-minded people</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex laudantium consequuntur ullam, qui mollitia eaque rerum assumenda porro similique ut. Nulla aut cupiditate sint nam dolor eum sapiente natus neque!</p>
            </div>
        </div>
    </div>
</div>
